<%- include("../partials/header") %>
<%- include("../partials/vsmHeader") %>
<div class="container">
    <div class="row">
        <h1 class="text-center create_div" style="width:40%; margin: auto;">Edit Record for <%= player.name %></h1>
    </div>
    <div class="row">
        <div class="create_div" style="width:40%; margin: 25px auto;">
            <form action="/courses/<%= course_id %>/player-data/<%=player.userID %>?_method=PUT" method="POST">
                <div class="form-group">
                    <input class="form-control" type="text" name="player[name]" value="<%=player.name %>" placeholder="Name">
                </div>
                <div class="form-group">
                    <input class="form-control" type="text" name="player[studentID]" value="<%=player.studentID %>" placeholder="Student ID">
                </div>
                <div class="form-group">
                    <input class="form-control" type="number" name="player[cash]" min="<%= player.cash %>" step="100" placeholder="Cash">
                </div>
                <div class="form-group">
                    <input class="form-control" type="text" name="player[remark]" value="<%=player.remark %>" placeholder="Remarks">
                </div>
               
                <div class="form-group">
                    <a href="/courses/<%= course_id %>" class="btn btn-lg btn-secondary" style="width:48%">Cancel</a>
                    <button class="btn btn-lg btn-primary ml-1" style="width:49%;">Submit</button>
                </div>
            </form>
        </div>             
    </div> 
</div>
<%- include("../partials/footer") %>