<%- include("../partials/header") %>
<%- include("../partials/vsmHeader") %>
<div class="container">
    <div class="row">
        <div class="col-md-3">
            <p class="lead"><a href="/courses/<%= course_id %>/">Back to the class</a></p>
        </div>
        <div class="col-md-9">
            <div class="card border-success">
                <div class="card-body">
                    <h4 class="">Student Name: <%= player.name %></h4>
                    <h4 class="">Student ID: <%= player.studentID %></h4>
                    <h4 class="">Class ID: <%= player.classID %></h4>
                    <h4 class="">Points: <%= player.points %></h4>
                    <h4 class="">Cash: <%= player.cash %></h4>
                    <h4 class="">Remark: <%= player.remark %></h4>
                </div>
                <div class="card-footer">
                    <a class="btn btn-xs btn-warning" href="/courses/<%= course_id %>/player-data/<%=player.userID %>/edit">&nbsp;Edit&nbsp;</a>
                    <form id="del" action="/courses/<%= course_id %>/player-data/<%=player.userID %>?_method=DELETE" method="POST">
                    <button class="btn btn-xs btn-danger">Delete</button>
                    </form>
                </div>
            </div>          
        </div>
    </div>
</div>

<%- include("../partials/footer") %>