<%- include("../partials/header") %>
<%- include("../partials/vsmHeader") %>
<div class="container">
    <div class="row">
        <h1 class="text-center" style="width:30%; margin: 25px auto;">Edit <%= course.name %></h1>
    </div>
    <div class="row">
        <div style="width:30%; margin: 25px auto;">
            <form action="/courses/<%= course._id %>/?_method=PUT" method="POST">
                <div class="form-group">
                    <input class="form-control" type="text" name="course[name]" value="<%= course.name %>" placeholder="Name">
                </div>
                <div class="form-group">
                    <input class="form-control" type="text" name="course[classID]" value="<%= course.classID %>" placeholder="Class ID">
                </div>
                <div class="form-group">
                    <input class="form-control" type="text" name="course[teacher]" value="<%= course.teacher %>" placeholder="Teacher's name">
                </div>
                <div class="form-group">
                    <input class="form-control" type="text" name="course[tutor]" value="<%= course.tutor %>" placeholder="Tutor's name">
                </div>
                <div class="form-group">
                    <input class="form-control" type="text" name="course[subject]" value="<%= course.subject %>" placeholder="Subject">
                </div>
                <div class="form-group">
                    <input class="form-control" type="text" name="course[description]" value="<%= course.description %>" placeholder="Description">
                </div>
                <div class="form-group">
                    <button class="btn btn-lg btn-primary btn-block">Submit</button>
                </div>
            </form>
            <a href="/courses/<%= course._id %>">Back to Class!</a>
        </div>
        

       
    </div>
    
</div>
<%- include("../partials/footer") %>