<%- include("../partials/header") %>
<%- include("../partials/vsmHeader") %>

<div class="container">
    <div class="row mb-5">
        <div class="col-md-8 mx-auto" data-step="3" data-intro="Search by keywords and import question by 'Add to quiz'">
            <form action="/quizzes/<%= quiz._id %>/questionbank/" method="GET">
            <div class="input-group input-group-lg" style="height:3rem">
                <input type="text" class="form-control" aria-describedby="inputGroup-sizing-lg" name="search" placeholder="Start typing a question to search...">
                <span class="input-group-btn">
                    <button class="btn btn-primary btn-lg" type="submit" value="search"><i class="fa fa-search" id="inputGroup-sizing-lg" aria-hidden="true"></i></button>
                </span>
            </div>
            </form>
        </div>
    </div>             

    <div class="row text-center" style="display: flex; flex-wrap: wrap;">
        <div class="col-md-12">
            <% if(noMatch !== null) { %>
                <h3><%= noMatch %></h3>
            <% } %>
        </div>
        <% questions.forEach(function(question){ %>
            <div class="card col-md-6 col-sm-12 bg-light border-light mb-2">
                <div class="row">
                    <div class="col-md-4">
                        <img class="card-img" src="data:<%=quiz.image.contentType%>;base64,<%= quiz.image.data %>" style="max-width: 20rem" alt="quiz"> 
                        <p class="card-text">Category: <%= question.category%> Difficulty: <%= question.level%></p>
                    </div>
                    <div class="col-md-8">
                        <div class="card-body">
                                <div class="card-title">
                                    <h5><%= question.text%></h5>
                                </div>
                            <p class="text-right align-bottom"><a href="/quizzes/<%= quiz._id %>/questionbank/<%= question._id %>" class="btn btn-primary">Add to your quiz</a></p>
                        </div>
                    </div>
                </div>
            </div>
        <%}) %> 
    </div>    
</div>

<%- include("../partials/footer") %>
<script type="text/javascript">
    if (RegExp('multipage', 'gi').test(window.location.search)) {
    introJs().start()
}
</script>