<%- include("./partials/header") %>
<%- include("./partials/vsmHeader") %>

<div class="container">
    <header class="jumbotron mt-5" id="heading-jumbotron" data-aos="fade" data-aos-duration="500" style="background-image: url(https://images.pexels.com/photos/356043/pexels-photo-356043.jpeg?auto=compress&cs=tinysrgb&dpr=2&h=750&w=1260); background-position: center;">
        <div class="container pt-5">
            <h1 class="pb-5 text-light font-weight-bold"><%= currentUser.username %>'s Dashboard</h1>            
        </div>
    </header>
    <div class="row mb-5">
        <div class="col-md-4">
            <div class="card mb-2" data-aos="fade-right" data-aos-duration="1500">
                <div class="card-header">
                    <% if(currentUser) { %>
                    <h4 class="card-title">Welcome! </h4>
                    <h4 class="card-title"><%= currentUser.username %></h4> 
                </div>
                <div class="card-body">
                    <h5 class="card-text">Plan: Basic</h5>
                    <% } else { %>
                    <a class="card-link" href="/login">Log In</a>
                    <% } %>                
                </div>
            </div>
            <div class="card mb-2" data-aos="fade-right" data-aos-duration="1500" data-step="5" data-intro="You can enroll your students into different class and assign them different quizzes.">
                <h4 class="card-header">My Classes</h4>
                    <div class="card-body">
                        <% let count = 0 %>
                        <% courses.forEach(function(course) { %>
                            <% if(currentUser && course.author.id.equals(currentUser._id) && count <= 4) { %>
                                <% count++ %>
                                <div class="card-title mb-2 text-muted">
                                    <a href="/courses/<%= course._id %>"class="card-link"><%= course.classID %></a>
                                </div>  
                            <% } %> 
                        <%}) %>
                        <% if(count == 0) {%>
                            <div class="card-title mb-2 text-muted">
                                <h3>You have no classes</h3>
                            </div>
                        <% } %> 
                    </div>
                        <div class="card-footer text-muted text-right">
                            <% if(count == 0) { %>
                                <a href="/courses/new"class="card-link">Create One Now!</a>
                            <% } else { %>  
                                <a href="/courses" class="card-link">See All</a>
                            <% } %>
                        </div>                                                     
            </div>
            <div class="card mb-2" data-aos="fade-right" data-aos-duration="1500">
                <div class="card-header">
                    <h4 class="card-title">Most Popular Games</h4>
                </div>
                <div class="card-body">
                    <div class="mb-2">
                        <a data-step="1" data-intro="Welcome! You can start from experiencing how your students play with the quiz here." data-disable-interaction="true" href="https://www.roblox.com/games/5834860433/Quiz-Trivia-Quiz-Obby-Lethal-Choices" class="card-link">Quiz Trivia</a>
                    </div>
                    <div class="mb-2">
                        <a data-step="2" data-intro="Your students can communicate with each other in a classroom alike environment and read your assignments here." data-disable-interaction="true" href="https://www.roblox.com/games/5887877906/Lobby-test-1" class="card-link">Lobby</a>
                    </div>
                </div>
            </div>
        </div>
        <div class="col-md-8">
            <div class="card mb-2 quickstart" data-aos="fade-down" data-aos-duration="1500">
                <div class="card-header">
                    <h4 class="card-title">Quick Guidance for 3 Steps!</h4>
                </div>
                <div class="card-body quickstart__body">
                    <div class="row d-flex">
                        <h5 class="card-text">Start from here to have fun!&nbsp;&nbsp;&nbsp;&nbsp;</h5>
                        <a class="card-link btn__trans btn btn-outline-light" style="color: green;background-color:#fff;" href="javascript:void(0);" id="startButton">&nbsp;New User Tour&nbsp;</a>
                    </div>       
                    <div class="row quickstart__image d-flex justify-content-center align-content-start mt-2 mb-2">
                        <img id="quickstart__svg1" src="31.svg" alt="quick start 1" style="width: 10%;">
                        <img id="arrow1" class="ml-4" src="34.svg" alt="arrow" style="width: 15%;">
                        <img id="quickstart__svg2" src="32.svg" alt="quick start 2" style="width: 20%;">
                        <img id="arrow2" src="34.svg" alt="arrow" style="width: 15%;">
                        <img id="quickstart__svg3" class="ml-4" src="33.svg" alt="quick start 3" style="width: 11%;">
                    </div>
                    <div class="row quickstart__content d-flex justify-content-around">
                        <a class="card-link quickstart__link btn__trans btn btn-outline-light" data-step="6" data-intro="Now let's try a Roblox quiz game, leave Quiz ID blank!" href="https://www.roblox.com/games/5834860433/Quiz-Trivia-Quiz-Obby-Lethal-Choices" target="_blank">&nbsp;Try a Quiz Game&nbsp;</a>
                        <a class="card-link quickstart__link btn__trans btn btn-outline-light" data-step="7" data-intro="Click to Create your own quiz and questions!" href="/quizzes/new?multipage=1" target="_blank">&nbsp;&nbsp;Create a Quiz&nbsp;&nbsp;</a>
                        <a class="card-link quickstart__link btn__trans btn btn-outline-light" data-step="8" data-intro="Create a class and enroll students!" href="/courses/new?multipage=1" target="_blank">&nbsp;&nbsp;Assign a Quiz&nbsp;&nbsp;</a>
                    </div>                 
                </div>
            </div>
            <div class="card mb-2" data-aos="fade-left" data-aos-duration="1500" data-step="3" data-intro="All your customized quizzes shown here.">
                <div class="card-header">
                    <h4 class="card-title">My Quizzes</h4>
                </div>
                <div class="card-body">
                    <% let counter = 0 %>                  
                    <% quizzes.forEach(function(quiz) { %>
                        <% if(currentUser && quiz.author.id.equals(currentUser._id)&& counter <= 4) { %>
                            <% counter++ %>
                            <div class="card-title mb-2 text-muted">
                                <a href="/quizzes/<%= quiz._id %>"class="card-link"><%= quiz.title %></a>
                            </div>
                        <% } %> 
                    <%}) %>
                    <% if(counter == 0) {%>
                        <div class="card-title mb-2 text-muted">
                            <h3>Looks like you have no quizzes</h3>
                        </div>
                    <% } %> 
                </div>
                <div class="card-footer text-right">
                    <% if(counter == 0) { %>
                        <a href="/quizzes/new"class="card-link">Create One Now!</a>
                    <% } else { %>  
                        <a href="/quizzes" class="card-link">See All</a>
                    <% } %>
                </div>
            </div>
            <div class="card mb-2" data-aos="fade-up" data-aos-duration="1500" data-step="4" data-intro="You can also search an existing public shared quiz from 'See More', click 'use this quiz' and tailor it.">
                <div class="card-header d-flex justify-content-between">
                    <h4 class="card-title">Most Popular Public Quizzes</h4>
                </div>
                <div class="card-body">
                    <% quizzes.forEach(function(quiz){ %>
                        <% if(quiz.public === true) { %>
                            <div class="card-title mb-2 text-muted">
                                <a href="/quizzes/<%= quiz._id %>"class="card-link"><%= quiz.title %></a>
                            </div>
                        <% } %>
                    <% }) %>
                </div>
                <div class="card-footer text-right">
                    <a href="/quizbank" class="card-link">See More</a>
                </div>
            </div>
        </div>
    </div>
</div>

<%- include("./partials/footer") %>
<script type="text/javascript">
document.getElementById('startButton').onclick = function() {
    introJs().addHints()
    introJs().start()
};
</script>
<script>
$(function () {
  $('[data-toggle="popover"]').popover()
})
$('[data-toggle="popover"]').popover({
  trigger: 'focus'
})
$('.card').hover(function () {
    $(this).children(".card-header").addClass('text-white bg-success');
    $(this).addClass('border-success');
}, function () {
    $(this).children(".card-header").removeClass('text-white border-success bg-success');
    $(this).removeClass('border-success');
});
</script>