<%- include("../partials/header") %>
<%- include("../partials/vsmHeader") %>

<div class="row mt-5" id="heading-jumbotron">
    <div class="col-md-4 card bg-light">
        <img class="card-img-top ml-2" style="width: 80%;" id="info-image" src="data:<%=quiz.image.contentType%>;base64,<%= quiz.image.data %>"  alt="">  
        <div class="card-body mt-2 ml-2" style="padding-right : 0;">
            <h4>Quiz Name: <a><%= quiz.title%></a></h4>
            <h6>Category: <%= quiz.category%></h6>
            <h6 class="">Difficulty level: <%= quiz.level %></h6>
            <div class="mb-2">
                <a href="/quizbank/<%= quiz._id %>/edit" class="btn btn-primary">Use this Quiz</a>
            </div>
            <p class="mt-2"><em>Created By <%= quiz.author.username %></em></p>
        </div>
    </div>
    <div class="col-md-8">
        <div class="well">
            <div class="container">
                <div class="row" style="width: 100%;">
                    <div class="col-md-3 text-left" style="width: 100% !important;">
                        <h4 class="" style="width: 200%;"><i class="fa fa-question" aria-hidden="true"></i> Question</h4>
                    </div>
                    <hr>
                </div>
                <% quiz.questions.forEach(function(question){ %>
                <div class="card col-md-12 bg-light border-success mb-3">
                    <div class="row">
                        <div class="col-md-8">
                            <div class="card-body">
                                <h5 class="card-title"><%= question.text %></h5>
                                <h6 class="card-text">Category: <%= question.category %><span>&nbsp;&nbsp;&nbsp;&nbsp;</span>Difficulty: <%= question.level %></h6>
                            <div class="d-flex justify-content-between">
                                <h6 class="card-text">option 1: <%= question.option1 %></h6>
                                <h6 class="card-text">option 2: <%= question.option2 %></h6>
                                <h6 class="card-text">option 3: <%= question.option3 %></h6>
                                <h6 class="card-text">option 4: <%= question.option4 %></h6>
                            </div>                  
                            </div>
                        </div>
                        <div class="col-md-4 d-flex align-items-center">
                            <img class="card-img" src="data:<%=quiz.image.contentType%>;base64,<%= quiz.image.data %>" style="max-width: 15rem" alt="question">      
                          </div>
                    </div>
                </div>
                <% }) %>
            </div>
        </div>
    </div>
</div>
<%- include("../partials/footer") %>