<%- include("../partials/header") %>
<%- include("../partials/vsmHeader") %>
<div class="container">
    <div class="row">
        <h1 class="text-center" style="width:40%; margin: auto;">Edit the Assignment</h1>
    </div>
    <div class="row">
        <div style="width:40%; margin: 25px auto;">
            <form action="/courses/<%= course_id %>/assignments/<%=assignment._id %>?_method=PUT" method="POST">
                <div class="form-group">
                    <input class="form-control" id="title" type="text" name="assignment[title]" value="<%=assignment.title %>" placeholder="Title">
                </div>
                <div class="form-group">
                    <input class="form-control" id="text" type="text" name="assignment[text]"  value="<%=assignment.text %>" placeholder="Content"> 
                </div>
                <div class="form-group mt-2">
                    <a href="/courses/<%= course_id %>" class="btn btn-lg btn-secondary" style="width:48%">Cancel</a>
                    <button class="btn btn-lg btn-primary ml-1" style="width:49%;">Submit</button>
                </div>
            </form>
        </div>
    </div>  
</div>
<%- include("../partials/footer") %>