<%- include("../partials/header") %>
<%- include("../partials/vsmHeader") %>
<div class="container">
    <header class="jumbotron mt-5" id="heading-jumbotron" style="background-image: url(/quiz.jpg); background-size: 100%; background-position: center;">
        <div class="container" data-aos="fade" data-aos-duration="1000">
            <h1 class="text-muted font-weight-bold pb-2" >Assignments</h1>
            <div class="row">
                <!-- <div class="col-md-3">
                    <form action="/assignments/" method="GET" class="form-inline">
                        <div class="input-group pt-2">
                            <input type="text" class="form-control" name="search" placeholder="Search assignments">
                            <span class="input-group-btn">
                                <button class="btn btn-success" type="submit" value="search"><i class="fa fa-search" aria-hidden="true"></i></button>
                            </span>
                        </div>
                    </form>
                </div> -->
                <div class="col-md-3 ml-auto pt-2">
                    <a class="btn btn-success" href="/courses/<%= course._id %>/assignments/new"><i class="fa fa-plus" aria-hidden="true"></i> Add New Assignment</a>
                </div>
            </div>             
        </div>
    </header>
    <div class="row text-center" style="display: flex; flex-wrap: wrap;">
        
        <% course.assignments.forEach(function(assignment){ %>
            <div class="card col-md-12 bg-light border-light mb-3">
                <div class="row"> 
                    <div class="col-md-8">
                        <div class="card-body">
                            <h5 class="card-title"><%= assignment.title %></h5>
                            <p class="card-text"><%= assignment.text %>&nbsp;&nbsp;</p>
                        </div>
                    </div>
                    <div class="col-md-4 d-flex align-items-center">
                        <a href="/courses/<%= course._id %>/assignments/<%= assignment._id %>" class="btn btn-xs btn-primary mr-2">View</a>
                        <% if(currentUser && course.author.id.equals(currentUser._id)) { %>
                            <a href="/courses/<%= course._id %>/assignments/<%= assignment._id %>/edit" class="btn btn-xs btn-warning mr-2" >&nbsp;&nbsp;Edit&nbsp;&nbsp;</a>
                            <form action="/courses/<%= course._id %>/assignments/<%= assignment._id %>?_method=DELETE" method="POST">
                                <input type="submit" class="btn btn-xs btn-danger" value="Delete">
                            </form>
                        <% } %>
                    </div>
                </div>
            </div>
            <% }) %>
    </div>
</div>
<%- include("../partials/footer") %>