<%- include("../partials/header") %>
<%- include("../partials/landingPageHeader") %>
<div class="main">
    <!-- Intro Section -->
    <div class="container-flex">
        <div class="jumbotron jumbotron-fluid mb-0" id="games_jumbotron" style="background-image: url(<%= page.first_background_image %>); background-size: 100%;"> 
            <h1 class="display-4 font-weight-bold text-light text-center"><%= page.page_header %></h1>
            <h3 class="display-6 font-weight-bold text-light text-center mt-5 mb-5"><%= page.page_subhead_1 %></h3>
            <h3 class="display-6 font-weight-bold text-light text-center mt-5" style="margin-bottom: 10%;"><%= page.page_subhead_2 %></h3>
        </div>
    </div>
    <!-- Info Section -->
    <div class="container-flex">
        <div class="jumbotron jumbotron-fluid mb-0" id="lethal_jumbotron" style="background-image: url(<%= page.first_section_background %>); background-size: 100% 100%;">
            <h1 class="text-center display-4 text-light font-weight-bold"><%= page.first_section_header %></h1>
            <h3 class="display-5 font-weight-bold text-light ml-5 mt-5"> <i class="fas fa-chalkboard-teacher"></i> <%= page.first_section_subheader1 %></h3>
            <h3 class="display-5 font-weight-bold text-light mt-5 text-right mr-5"> <i class="fas fa-cogs"></i> <%= page.first_section_subheader2 %></h3>
        </div>
    </div>
    <!-- If you want to update the site with more games just copy-paste the one of the following sections and replace the image and text -->
    <!-- Lethal Choice -->
    <div class="container-flex" style="background-color: #5e6cbc;">
        <!-- Background image url goes inside here -->
        <div class="jumbotron jumbotron-fluid mb-0" id="lethal_jumbotron" data-aos="fade-up" style="background-image: url(<%= page.game_section.background_image %>); background-size: 100%;background-position: center;" >
            <div class="container pt-5" data-aos="fade-right">
                <!-- Text can be changed but formatting is the same. -->
                <h1 class="display-4 font-weight-bold text-light mt-5"><%= page.game_section.game_name %></h1>
            </div>
            <div class="container pt-5" data-aos="fade-left">
                <h3 class="display-5 font-weight-bold text-light mt-5 text-right"><%= page.game_section.subhead_1 %></h3>
                <h3 class="display-5 font-weight-bold text-right text-light"><%= page.game_section.subhead_2 %></h3>
            </div>
            <div class="container pt-5" data-aos="zoom-in">
                <h3 class="display-5 font-weight-bold text-light mt-5"><%= page.game_section.subhead_3 %></h3>
            </div>
        </div>
    </div>

    <!-- Minigame Paradise -->
    <div class="container-flex" style="background-color: #5e6cbc;">
        <div class="jumbotron jumbotron-fluid mb-0" id="lethal_jumbotron" data-aos="fade-up" style="background-image: url(<%= page.game_section2.background_image %>); background-size: 100%; background-position: center;">
            <div class="container pt-5" data-aos="fade-left">
                <h1 class="display-4 font-weight-bold text-right text-light mt-5"><%= page.game_section2.game_name %></h1>
            </div>
            <div class="container pt-5" data-aos="fade-right">
                <h3 class="display-5 font-weight-bold text-light mt-5"><%= page.game_section2.subhead_1 %></h3>
                <h3 class="display-5 font-weight-bold text-light"><%= page.game_section2.subhead_2 %></h3>
            </div>
            <div class="container pt-5" data-aos="zoom-in">
                <h3 class="display-5 font-weight-bold text-light text-right mt-5"><%= page.game_section2.subhead_3 %></h3>
            </div>
        </div>
    </div>

    <!-- Physics Playground -->
    <div class="container-flex" style="background-color: #5e6cbc;">
        <div class="jumbotron jumbotron-fluid mb-0" id="lethal_jumbotron" data-aos="fade-up" style="background-image: url(<%= page.game_section3.background_image %>); background-size: 100%; background-position: center;">
            <div class="container pt-5" data-aos="fade-right">
                <h1 class="display-4 font-weight-bold text-light mt-5"><%= page.game_section3.game_name %></h1>
            </div>
            <div class="container pt-5" data-aos="fade-left">
                <h3 class="display-5 font-weight-bold text-light text-right mt-5"><%= page.game_section3.subhead_1 %></h3>
                <h3 class="display-5 font-weight-bold text-light text-right"><%= page.game_section3.subhead_2 %></h3>
            </div>
            <div class="container pt-5" data-aos="zoom-in">
                <h3 class="display-5 font-weight-bold text-light mt-5"><%= page.game_section3.subhead_3 %></h3>
            </div>
        </div>
    </div>

    <!-- Section to provide users with a link to the signup page -->
    <div class="container-flex">
        <div class="jumbotron jumbotron-fluid" id="lethal_jumbotron" style="background-image: url(<%= page.sign_up_section_background %>); background-size: 100%;">
            <h1 class="display-4 text-center text-light font-weight-bold pt-5"><%= page.sign_up_section_header %></h1>
            <!-- This is the special animated button linking to the signup page -->
            <div class="container text-center" id="games_button">
                <div class="svg-wrapper mt-5" id="svg-wrapper">
                    <svg height="40" width="150" xmlns="http://www.w3.org/2000/svg">
                    <rect id="shape" height="40" width="150" />
                    <div id="text">
                        <a href="/register" id="lethal_choice"><span class="spot"></span>
                            <h4 class="text-light font-weight-bold"><%= page.button_text %></h4>
                        </a>
                    </div>
                    </svg>
                </div>
            </div>
        </div>
    </div>

    <!-- Coming Soon section -->
    <!-- If more games are to be added to the coming soon section copy paste the div with col-sm in the name -->
    <div class="container-flex">
        <div class="jumbotron jumbotron-fluid mb-0" style="background-color:  white;">
            <h1 class="display-4 text-center font-weight-bold mt-5"><%= page.new_games_section_head %></h1>
            <div class="row pl-5 pr-5" id="info_row">
                <!-- Start of column template -->
                <!-- Copy and paste inside the "row" div to add more sections -->
                <div class="mt-5 ml-5 col-sm mr-5 text-center">
                    <!-- The image here can be changed just update the link in "src" -->
                    <img class="pl-0 pr-0 ml-0 mr-0" src="<%= page.games_image_1 %>" width="100%" alt="">
                    <h1 class="text-center font-weight-bold text-black mt-3" id="info_title"><%= page.game1 %></h1>
                    <p class="text-center pt-3 font-italic" ><%= page.game1_sub1 %><br><%= page.game1_sub2 %></p>
                </div>
                <!-- End of column template -->
                <div class="mt-5 ml-5 mr-5 text-center col-sm">
                    <img src="<%= page.games_image_2 %>" width="100%" alt="" class="pl-0 pr-0 ml-0 mr-0">
                    <h1 class="text-center font-weight-bold mt-3" id="info_title"><%= page.game2 %></h1>
                    <p class="text-center pt-3 font-italic" ><%= page.game2_sub1 %><br><%= page.game2_sub2 %> </p>
                </div>
            </div>
        </div>
    </div>
</div>
<%- include("../partials/footer") %>
<style>
    /* Special animated button CSS */
    :root {
    --bg: #1a1e24;
    --color: #eee;
    --font: Montserrat, Roboto, Helvetica, Arial, sans-serif;
    }

    .wrapper {
        padding: 1.5rem 0;
        filter: url('#goo');
    }
    
    .cool_button {
        display: inline-block;
        text-align: center;
        background: white;
        color: var(--bg);
        font-weight: bold;
        padding: 1.18em 1.32em 1.03em;
        line-height: 1;
        border-radius: 1em;
        position: relative;
        min-width: 8.23em;
        text-decoration: none;
        font-family: var(--font);
        font-size: 1.25rem;
    }
    
    .cool_button:before,
    .cool_button:after {
        width: 4.4em;
        height: 2.95em;
        position: absolute;
        content: "";
        display: inline-block;
        background: white;
        border-radius: 50%;
        transition: transform 1s ease;
        transform: scale(0);
        z-index: -1;
    }
    
    .cool_button:before {
        top: -25%;
        left: 20%;
    }
    
    .cool_button:after {
        bottom: -25%;
        right: 20%;
    }
    
    .cool_button:hover:before,
    .cool_button:hover:after {
        transform: none;
    }
</style> 

<script type="text/javascript">
AOS.init()
$(document).ready(function(){
   $(window).scrollTop(0);
});
</script>
