<form action="/quizzes/<%= quiz_id %>/questions/<%=question._id %>?_method=PUT" method="POST">
    <div class="form-group">
        <input class="form-control" id="text" type="text" name="question[text]" style="font-size:3rem" value="<%=question.text %>">
    </div>
    <div class="form-inline mb-2">
        <input class="form-control" id="option1" type="text" name="question[option1]"  style="font-size:2rem; width: 49%" value="<%=question.option1 %>">
        <input class="form-control ml-auto" id="option2" type="text" name="question[option2]" style="font-size:2rem; width: 49%" value="<%=question.option2 %>">
    </div>
    <div class="form-inline mb-2">
        <input class="form-control" id="option3" type="text" name="question[option3]" style="font-size:2rem; width: 49%" value="<%=question.option3 %>">
        <input class="form-control ml-auto" id="option4" type="text" name="question[option4]" style="font-size:2rem; width: 49%" value="<%=question.option4 %>">
    </div>
    <div class="form-inline mb-2">
        <select class="form-control" id="category" name="question[category]" style="font-size:1.5rem; width: 49%" value="<%=question.category %>">
            <option selected>- Category -</option>
            <option value="Animal">Animal</option>
            <option value="Food and Drink">Food and Drink</option>
            <option value="World">World</option>
            <option value="Science">Science</option>
        </select>
        <select class="form-control ml-auto" id="level" name="question[level]" style="font-size:1.5rem; width: 49%" value="<%=question.level %>">
            <option selected>- Difficulty level -</option>
            <option value="Easy">Easy</option>
            <option value="Medium">Medium</option>
            <option value="Difficult">Difficult</option>
        </select>
    </div>
    <div class="form-inline mb-2">
        <label for="op1" style="font-size:1.5rem">Set to be publicly shared?&nbsp;&nbsp;&nbsp;&nbsp;</label>
        <input id="op1" class="form-control" type="checkbox" name="question[public]" style="width: 1.5rem" checked value="true">
        <button class="btn btn-primary ml-auto">Update</button>
    </div>
</form>
<script>
    $('#op1').prop('checked', false);
</script>