<%- include("../partials/header") %>
<div class="container">
    <div class="row">
        <h1 class="text-center" style="width:40%; margin: auto;">Create a new question to <%= quiz.title%></h1>
    </div>
    <div class="row">
        <div style="width:40%; margin: 25px auto;">
            <form action="/quizzes/<%= quiz._id %>/questions" method="POST">
                <div class="form-group">
                    <input class="form-control" type="text" name="text" placeholder="Question text" required>
                </div>
                <div class="form-group">
                    <input class="form-control" type="text" name="option1" placeholder="Option1 (correct answer)" required>
                </div>
                <div class="form-group">
                    <input class="form-control" type="text" name="option2" placeholder="Option2" required>
                </div>
                <div class="form-group">
                    <input class="form-control" type="text" name="option3" placeholder="Option3" required>
                </div>
                <div class="form-group">
                    <input class="form-control" type="text" name="option4" placeholder="Option4" required>
                </div>
                <div class="form-group">
                    <select class="form-control" name="category">
                        <option selected>- Category -</option>
                        <option value="Animal">Animal</option>
                        <option value="Food and Drink">Food and Drink</option>
                        <option value="World">World</option>
                        <option value="Science">Science</option>
                    </select>
                </div>
                <div class="form-group">
                    <select class="form-control" name="level">
                        <option selected>- Difficulty level -</option>
                        <option value="Easy">Easy</option>
                        <option value="Medium">Medium</option>
                        <option value="Difficult">Difficult</option>
                    </select>
                </div>
                <div class="form-inline">
                    <label for="op1">Set to be publicly shared?&nbsp;&nbsp;&nbsp;&nbsp;</label>
                    <input style="width: 1.5rem;" id="op1" class="form-control ml-auto" type="checkbox" name="public" checked value="true">
                </div>
                <div class="form-group">
                    <button class="btn btn-lg btn-primary btn-block">submit</button>
                </div>
            </form>
            <div class="d-flex justify-content-between">
                <a href="/quizzes/<%= quiz._id %>/questionbank/">Import from Question from Question Bank!</a>
                <a href="/quizzes/<%= quiz.id %>">Back to Quiz</a>
            </div>        
        </div> 
    </div>  
</div>
<%- include("../partials/footer") %>
<script>
    $('#op1').prop('checked', false);
</script>